.carousel-item{
  height: 300px;
}
#photo-gallery{
  height: 900;
  background-color: burlywood;
}

.photo-column{
  height: 900;
  background-color: rgb(228, 211, 189);
}

.photo-sm{
  width: 100%;
  height: 380px;
  margin-top: 20px;
  background-color: coral;
  overflow: hidden;
  
}

.photo-big{
  width: 100%;
  height: 480px;
  margin-top: 20px;
  background-color: rgb(110, 39, 13);
  overflow: hidden;
}

.video{
  margin-top: 20px;
  width: 100%;
  height: 400px;
}

@media (min-width: 575.98px){
  .video{
    margin-top: 20px;
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 767.98px){
  .video{
    margin-top: 20px;
    width: 100%;
    height: 600px;
  }
}

@media (min-width: 991.98px){
  .video{
    margin-top: 20px;
    width: 100%;
    height: 800px;
  }
}
